.home__section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border: none;
}

.home__image_container {
  background-color: black;
}

.home__main_image {
  opacity: 0.8;
}

.home__headline {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
  color: white;
  font-size: 62px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
